@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply overflow-x-hidden leading-relaxed min-h-screen font-jakarta;
  }

  .container-xl {
    @apply mx-auto px-4 max-w-full xl:px-10 2xl:max-w-[1920px];
  }

  .animate {
    @apply transition-all duration-300 ease-in-out;
  }

  .h-screen {
    height: 100dvh;
  }

  .w-screen {
    width: 100dvw;
  }

  .intro-mask {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}

@layer components {
  .cursor-follower {
    @apply fixed top-0 left-0 w-5 h-5 rounded-full bg-opacity-0 bg-white/80 z-[120] select-none pointer-events-none;
  }
}

.fancybox__container {
  @apply h-screen;
}

.slide-text {
  @apply inline-flex items-center gap-x-6 whitespace-nowrap pr-6 tracking-[4px] text-white xl:text-2xl;
  animation: rtl 14s infinite linear;

  &--slow {
    animation: rtl 30s infinite linear;
  }
}

.slide-dot {
  @apply -translate-y-0.5 text-3xl;
}

@keyframes textClipReveal {
  0% {
    opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 0%);
  }
}

@keyframes widthToFull {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes rtl {
  0% {
    transform: translateZ(0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
